<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <title>Запись ко врачу</title>
</head>
<body>
    {% include 'main/header.html' %}
    <main>
        <div class="sub-header">
            <img src="{% static '/img/icon1.png' %}" alt="picture 1">
            <img src="{% static '/img/icon3.png' %}" alt="picture 2">

            <!-- Основная форма для поиска врачей по специальности и району -->
            <form action="{% url 'appointments' %}" method="post">
                {% csrf_token %}
                <div class="item-form ml">
                    <label for="profession">Специальность:</label>
                    <select name="profession" id="profession">
                        <option value="">Выберите специальность</option>
                        {% for prof in professions %}
                        <option value="{{ prof }}" {% if prof == profession %}selected{% endif %}>{{ prof }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="item-form">
                    <label for="district">Район:</label>
                    <select name="district" id="district">
                        <option value="">Выберите район</option>
                        {% for dist in districts %}
                        <option value="{{ dist }}" {% if dist == district %}selected{% endif %}>{{ dist }}</option>
                        {% endfor %}
                    </select>
                </div>

                <button id="record-button" type="submit">Поиск</button>
            </form>

            <img src="{% static '/img/icon4.png' %}" alt="picture 3">
            <img src="{% static '/img/icon2.png' %}" alt="picture 4">
        </div>

        <div class="container filters">
            <h3>Дополнительные фильтры</h3>
            <form action="{% url 'appointments' %}" method="post">
                {% csrf_token %}

                <!-- Скрытые поля для сохранения основных фильтров -->
                <input type="hidden" name="profession" value="{{ profession }}">
                <input type="hidden" name="district" value="{{ district }}">

                <select id="gender" name="gender">
                    <option value="">Выберите пол</option>
                    {% for g in genders %}
                    <option value="{{ g }}" {% if g == gender %}selected{% endif %}>{{ g }}</option>
                    {% endfor %}
                </select>

                <select id="experience" name="experience">
                    <option value="">Выберите стаж</option>
                    {% for exp in experience_choices %}
                    <option value="{{ exp }}" {% if exp == experience %}selected{% endif %}>От {{ exp }} лет</option>
                    {% endfor %}
                </select>

                <button type="submit">Применить фильтры</button>
                <a href="{% url request.resolver_match.url_name %}">
                    <button type="button">Сбросить фильтр</button>
                </a>
            </form>
        </div>

        <!-- Результаты поиска -->
        <div class="result-search">
            <h1>Результат поиска</h1>
            {% if search_results %}
                {% for doctor in search_results %}
                    <div class="one-post-search">
                        <img src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% static '/img/defalt.png' %}{% endif %}" alt="img-search">
                        <div class="information-search">
                            <h1>{{ doctor.fio }}</h1>
                            <p>{{ doctor.profession }}</p>
                            <p>Стаж: {{ doctor.experience }} лет</p>
                            <h3>{{ doctor.phone }}</h3>
                        </div>
                        <div class="other">
                            <form action="{% url 'make_appointment' doctor.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="search-button">Записаться</button>
                            </form>
                            <p>{{ doctor.adress }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>По вашему запросу ничего не найдено.</p>
            {% endif %}
        </div>

    </main>

    {% include 'main/footer.html' %}
</body>
</html>
