<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="{% url 'create_home_visit' %}">
        {% csrf_token %}
        <label for="patient_name">Имя пациента:</label>
        <input type="text" id="patient_name" name="patient_name" required>

        <label for="patient_phone">Телефон:</label>
        <input type="text" id="patient_phone" name="patient_phone" required>

        <label for="address">Адрес вызова:</label>
        <textarea id="address" name="address" required></textarea>

        <label for="symptoms">Симптомы:</label>
        <textarea id="symptoms" name="symptoms"></textarea>

        <button type="submit">Отправить</button>
    </form>
    <a href="{% url 'profile' %}">
        <button class="good-button">Отмена</button>
    </a>
</body>
</html>