<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/main.css' %}">
  <link rel="stylesheet" href="{% static '/css/editProfile.css' %}">
  <style>
    #preview {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #ccc;
    }
  </style>
  <title>Редактирование профиля</title>
</head>
<body>
  {% include 'main/header.html' %}
  <main>
    <div class="container edit">
      <div class="form-edit">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img id="preview"
             src="{% if patient.image %}{{ patient.image.url }}{% else %}{% static '/img/defalt.png' %}{% endif %}"
             alt="Profile Picture"
             onerror="this.src='{% static '/img/default.png' %}'">

        <label for="imageUpload" class="button-upload">
          Загрузить изображение
        </label>
        <input type="file" id="imageUpload" name="image" accept="image/*" style="display: none;">

        {% if patient.image %}
        <button type="submit" name="remove_image" class="bad-button">Удалить изображение</button>
        {% endif %}

        <input type="text" name="fio" value="{{ patient.fio }}" placeholder="ФИО">
        <input type="email" name="email" value="{{ patient.email }}" placeholder="Почта">
        <input type="tel" name="phone" value="{{ patient.phone }}" placeholder="Телефон">

        <input type="password" name="old_password" placeholder="Старый пароль">
        <input type="password" name="new_password" placeholder="Новый пароль">
        <input type="password" name="confirm_password" placeholder="Повторить новый пароль">

        <button type="submit">Сохранить изменения</button>
      </form>
        </div>
    </div>
  </main>
  {% include 'main/footer.html' %}

  <script>
      document.getElementById('imageUpload').addEventListener('change', function(event) {
        const file = event.target.files[0];
        if (file) {
          const reader = new FileReader();
          reader.onload = function(e) {
            const preview = document.getElementById('preview');
            preview.src = e.target.result;
          };
          reader.readAsDataURL(file);
        }
      });
    </script>
</body>
</html>
