{% load static %}
<footer>
    <div class="main-block-footer">
        <div class="footer-logo">
            <div class="logo">
                <h1>КомпанияЗдоровья</h1>
                <img src="{% static 'img/logo-black.png' %}" alt="logo site">
            </div>
            <div class="socials">
                <img src="{% static 'img/vk.png' %}" alt="vk">
                <img src="{% static 'img/dzen.png' %}" alt="dzen">
                <img src="{% static 'img/tg.png' %}" alt="tg">
            </div>
        </div>
        <div class="footer-menu">
            <ul>
                <li>Услуги</li>
                <li>Контакты</li>
                <li>О нас</li>
                <li>Новости</li>
                <li>Вопросы</li>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2013 — 2024 «КомпанияЗдоровья»</p>
    </div>
</footer>