{% load static %}
<footer>
    <div class="footer-logo">
        <div class="logo">
            <h1>КомпанияЗдоровья</h1>
            <img src="{% static 'img/logo-black.png' %}" alt="logo site">
        </div>
        <div class="socials">
            <img src="{% static 'img/vk.png' %}" alt="vk">
            <img src="{% static 'img/dzen.png' %}" alt="dzen">
            <img src="{% static 'img/tg.png' %}" alt="tg">
        </div>
    </div>
    <div class="footer-menu">
        <div class="nav-users">
            <h3>Для пациентов</h3>
            <ul>
                <li>Пункт 1</li>
                <li>Пункт 2</li>
                <li>Пункт 3</li>
            </ul>
        </div>
        <div class="nav-doctors">
            <h3>Для врачей</h3>
            <ul>
                <li>Пункт 1</li>
                <li>Пункт 2</li>
                <li>Пункт 3</li>
            </ul>
        </div>
    </div>
</footer>