{% load static %}
<footer>
    <div class="main-block-footer">
        <div class="footer-logo">
            <a href="{% url 'index' %}">
                <div class="logo">
                    <h1>КомпанияЗдоровья</h1>
                    <img src="{% static 'img/logo-black.png' %}" alt="logo site">
                </div>
            </a>
            <div class="socials">
                <img src="{% static 'img/vk.png' %}" alt="vk">
                <img src="{% static 'img/dzen.png' %}" alt="dzen">
                <img src="{% static 'img/tg.png' %}" alt="tg">
            </div>
        </div>
        <div class="footer-menu">
            <ul>
                <a href="{% url 'ourServices' %}"><li>Услуги</li></a>
                <a href="{% url 'contacts' %}"><li>Контакты</li></a>
                <a href="{% url 'aboutUs' %}"><li>О нас</li></a>
                <a href="{% url 'news' %}"><li>Новости</li></a>
                <a href="{% url 'questions' %}"><li>Вопросы</li></a>
            </ul>
        </div>
    </div>
    <div class="copyright">
        <p>Copyright © 2013 — 2024 «КомпанияЗдоровья»</p>
    </div>
</footer>