{% load static %}
<header>
    <a href="{% url 'index' %}">
        <div class="logo">
            <div class="text-logo">
                <h1>КомпанияЗдоровья</h1>
            </div>
            <img src="{% static 'img/logo.png' %}" alt="logo site">
        </div>
    </a>
    <div class="left-item">
        <div class="city-index">
            <span>г. Челябинск</span>
        </div>
        {% if request.resolver_match.view_name != 'login' and request.resolver_match.view_name != 'register' and request.resolver_match.view_name != 'profile' and request.resolver_match.view_name != 'editProfile' and request.resolver_match.view_name != 'make_appointment' and request.resolver_match.view_name != 'home_visits_list'%}
            {% if patient %}
                <a href="{% url 'profile' %}">
                    <div class="profile">
                        <p>{{ patient.fio }}</p>
                        <img src="{% if patient.image %}{{ patient.image.url }}{% else %}{% static 'img/defalt.png' %}{% endif %}"
                             alt="image-profile">
                    </div>
                </a>
            {% elif doctor %}
                <a href="{% url 'profile' %}">
                    <div class="profile">
                        <p>{{ doctor.fio }}</p>
                        <img src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% static 'img/defalt.png' %}{% endif %}"
                             alt="image-profile">
                    </div>
                </a>
            {% else %}
                <a href="{% url 'login' %}">
                    <button>Личный кабинет</button>
                </a>
            {% endif %}
        {% endif %}
    </div>
</header>
