<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Записаться на прием</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/make_appointments.css' %}">
</head>
<body>
    {% include 'main/header.html' %}
    <div class="container-makeAppointments">
        <div class="profile-container-img">
            <img src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% static '/img/defalt.png' %}{% endif %}" alt="doctor-img">
        </div>
        <h1>{{ doctor.fio }}</h1>
        <h2>Данные для записи</h2>
        <form method="post" id="date-form">
            {% csrf_token %}

            <label for="appointment-date">Дата приема:</label>
            <input type="date" id="appointment-date" name="appointment_date" value="{{ selected_date|date:'Y-m-d' }}" onchange="this.form.submit();" required>

            <label for="appointment-time">Время приема:</label>
            <select id="appointment-time" name="appointment_time" required>
                {% for slot in available_slots %}
                    <option value="{{ slot|date:'H:i' }}">{{ slot|date:'H:i' }}</option>
                {% endfor %}
            </select>

            <label for="description">Описание проблемы:</label>
            <textarea id="description" name="description" placeholder="Опишите вашу проблему" required>{{ description }}</textarea>

            <button type="submit">Записаться</button>

            {% if error_message %}
                <p class="error">{{ error_message }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>
