<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static '/css/main.css' %}">
  <title>Новости</title>
</head>
  <body>
  {% include 'main/header.html' %}
  <main>
    <div class="container news">
      <h1>Новости и обновления</h1>
      <p>Будьте в курсе всех изменений и событий на нашем сайте и в сфере здравоохранения. </p>
      <div class="block-items">
        {% for news in news_list %}
          <div class="block-item">
            <h2>{{ news.title }}</h2>
            <p>{{ news.text|truncatewords:30 }}</p>
            <div class="meta-data">{{ news.date }}</div>
          </div>
        {% empty %}
          <p style="font-weight: bold;">Пока новостей нет.</p>
        {% endfor %}
      </div>
    </div>
  </main>
  {% include 'main/footer.html' %}
  </body>
</html>
