<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Наши услуги</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
     <link rel="stylesheet" href="{% static '/css/ourServices.css' %}">
</head>
<body>
  {% include 'main/header.html' %}
    <main>
        <div class="container services">
            <h1>Наши услуги</h1>
            <p>Здесь Вы сможете ознакомиться с возможностями нашего сайта и выбирайте подходящий способ получения медицинской помощи.</p>
            <div class="block-items">
                <div class="block-item">
                    <img src="{% static 'img/dochome.jpg' %}" alt="doctor_home">
                    <div class="block-text">
                        <h2>Вызов врача на дом</h2>
                        <p>Воспользуйтесь услугой вызова врача на дом, если вы нуждаетесь в медицинской помощи, но не можете посетить клинику. Услуга доступна для взрослых и детей.</p>
                        <ul>
                            <li><span>Срочная помощь:</span> Врач приедет к вам в кратчайшие сроки.</li>
                            <li><span>Удобство:</span> Не нужно ехать в клинику или стоять в очередях.</li>
                            <li><span>Безопасность:</span> Минимизация контактов с другими людьми, что особенно важно в сезон вирусных заболеваний.</li>
                        </ul>
                    </div>
                </div>
                <div class="block-item">
                    <div class="block-text">
                        <h2>Запись на прием к врачу</h2>
                        <p>Запишитесь на прием к нужному специалисту в удобное время, не выходя из дома. Услуга доступна для взрослых и детей, с возможностью выбора ближайшей клиники или конкретного врача.</p>
                        <ul>
                            <li><span>Экономия времени:</span> Больше не нужно стоять в очередях или звонить в регистратуру.</li>
                            <li><span>Удобство:</span> Выберите удобную дату, время и врача, основываясь на рейтингах и отзывах.</li>
                        </ul>
                    </div>
                    <img src="{% static 'img/doccenter.jpg' %}" alt="doctor_center">
                </div>
            </div>
            <div class="block-how-it-work">
                <div class="block-text">
                    <h1>Как это работает?</h1>
                    <p>На главной странице сайта расположена форма поиска врачей. Начать поиск проще простого!
                        Дла этого достаточно выбрать необходимую специальность врача и район вашего города.
                        После чего начать кнопку Найти.</p>
                </div>
                <div class="block-video">
                    <img src="{% static 'img/gif.gif' %}" alt="GIF">
                </div>
            </div>
        </div>
    </main>
  {% include 'main/footer.html' %}
</body>
</html>