<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
    <link rel="stylesheet" href="{% static '/css/auth.css' %}">
    <title>Регистрация</title>
</head>
<body>
    <form class="form-section" method="post">
        <h1>Регистрация</h1>
        {% csrf_token %}
        {{ form.fio }}
        {{ form.phone }}
        {{ form.email }}
        {{ form.password }}
        {{ form.confirm_password }}
        <input class="button-input" type="submit" value="Зарегистрироваться">
        <a href="{% url 'login' %}">
            <p>Авторизация</p>
        </a>
    </form>
</body>
</html>
