<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/specificAppointment.css' %}">
    <title>Подробности записи на прием</title>
</head>
<body>
    {% include 'main/header.html' %}
    <main>
        <div class="container specificAppointment">
            <div class="profile-container-img">
                    <img src="{% if doctor.image %}{{ doctor.image.url }}{% else %}{% static 'img/defalt.png' %}{% endif %}" alt="doctor-img">
            </div>
            <h1>{{ doctor.fio }}</h1>
            <p>Специальность: {{ doctor.profession }}</p>
            <p>Стаж: {{ doctor.experience }} лет</p>
            <p>Почта: {{ patient.email }}</p>
            <h2>Рекомендации</h2>
            <textarea disabled="disabled">{{ appointment.recommendations }}</textarea>
            <button class="good-button" onclick="window.history.back();">Назад</button>
        </div>
    </main>
</body>
</html>
