/* Профиль */
.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

@media screen and (max-width: 1100px) {
    .profile {
        flex-direction: column;
    }
}

.profile .profile-img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
}

.profile .profile-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 18px;
}

.profile-details button {
    width: 100%;
}

.profile-details h2 {
    font-size: 35px;
}

.profile-details .call-doctor {
    display: flex;
    gap: 5px;
}

.profile-details .call-doctor .details-button {
    margin-top: 0;
}

/* Фильтр */
.filters {
    gap: 10px;
    box-shadow: none !important;
    background: none !important;
    padding: 10px 5px !important;
}

.filters form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.filters form button {
    background-color: #D8D8D8;
    color: #868786;
    height: 48px !important;
}

.filters form button,
.filters form input,
.filters from select {
    border-radius: 10px;
    width: 255px;
}

.filters form select {
    color: gray;
    padding: 10px 20px;
}

.filters h3 {
    margin-bottom: 20px;
    margin-left: 5px;
}

/* Записи на прием */
.appointments h3 {
    font-size: 35px;
}

.appointment-card-visited{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.appointment-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid black;
    font-style: italic;
}

@media screen and (max-width: 1100px) {
    .appointment-card {
        flex-direction: column;
        align-items: center;
    }
}

.appointment-card h4 {
    font-size: 30px;
}

.appointment-card:last-child {
    border-bottom: none;
}

.pacient-info {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    .pacient-info {
        flex-direction: column;
        align-items: center;
    }
}


.pacient-img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
    box-shadow: 5px 5px 20px rgba(0,0,0,0.25);
}

.pacient-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pacient-details {
    font-size: 16px;
    margin-left: 50px;
}

.appointment-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.appointment-info span{
    font-weight: bold;
    color:#63C1AF;
}

.appointment-info span p {
    font-size: 30px;
}

/* Посещенные записи */
.visited {
    margin-top: 40px !important;+
}

/* Общий стиль карточки */
.card {
    width: 100%;
    border-radius: 10px;
    margin: 0 auto;
    padding: 15px 10px;
}
    
.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doctor-info {
    display: flex;
    align-items: center;
}

.doctor-details {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.doctor-details h4 {
    font-size: 30px;
    font-style: italic;
}
  
.doctor-name {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
  
.doctor-specialty,
.doctor-experience {
    font-size: 14px;
    color: #777;
    margin: 2px 0;
}
  
.appointment-info {
    text-align: right;
}
  
.appointment-date {
    font-size: 14px;
    color: #49b982;
    font-weight: 500;
    margin: 0;
}
  
.appointment-location {
    font-size: 14px;
    color: #777;
}
  
.details-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #49b982;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.details-button:hover {
    background-color: #3e9c72;
}

  